:root{
    background-color: #000;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --container-bg-color: #2f2f2f;
    --tag-bg-color: #3a3a3a;

    --text-color-w1: #ffffff;
    --text-color-w2: #d5d5d5;
    --text-color-w3: #c0c0c0;
}
#other a{
    color: inherit !important;
    text-decoration: none !important;
}

a{
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
}

#loading-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.first-container-right-profile-image img{
    width: 2rem !important;
    height: 2rem !important;
    border-radius: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    flex: 4;
    padding: 10px;
}
.header-left img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 20px;
    /* background-image: url("/images/logo.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header-center{
    display: flex;
    justify-content: space-between;
    flex: 4;
}
.header-right{
    padding: 10px;
    flex: 4;
}
.header-right-up{
    display: flex;
    justify-content: right;
    align-items: center;
}
.header-right-down{
    display: flex;
    justify-content: right;
    font-size: small;
    margin-top: 10px;
}
.header-profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    /* background-image: url("/images/profile-image.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* body section */
.body-container{
    padding: 20px 100px;
    height: 100%;
}
.first-container{
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin-bottom: 20px;
}

.first-container-left{
    /* height: 100%; */
    width: 65%;
    background-color: var(--container-bg-color);
    border-radius: 20px;
    padding: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post-title{
    font-size: larger;
    font-weight: bold;
}
.post-description{
    font-size: medium;
    color: var(--text-color-w2);
}
.post-date{
    font-size: small;
    color: var(--text-color-w3);
}

.first-container-right{
    /* height: 100%; */
    width: 30%;
    padding: 5px;
    background-color: var(--container-bg-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    overflow: auto;
    scroll-behavior: smooth;
}
.post-user-img{
    background-image: url("/images/profile-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.post-userid, .post-username{
    margin: 10px;
    word-wrap: break-word;
    overflow: auto;
    scroll-behavior: smooth;
}
.first-container-right::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}

.second-container{
    /* height: 170px; */
    background-color: var(--container-bg-color);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-heading{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
}
.sub-heading{
    margin-bottom: 10px;
    text-decoration: dashed underline;
}
.paragraph{
    font-size: small;
    color: var(--text-color-w3);
}

.third-container{
    margin-bottom: 20px;
}
.third-container-img img{
    /* height: 400px; */
    width: 100%;
    /* background-color: var(--container-bg-color); */
    border-radius: 20px;
    margin-bottom: 20px;
}
.third-container-video video{
    /* height: 200px; */
    width: 100%;
    background-color: var(--container-bg-color);
    border-radius: 20px;
}

.fourth-container{
    /* height: 300px; */
    margin-bottom: 20px;
}
.paragraph-area{
    /* height: 80%; */
    padding: 20px;
    width: 100%;
    background-color: var(--container-bg-color);
    border-radius: 20px;
}
.paragraph-options{
    padding-top: 10px;
    display: flex;
    justify-content: right;
}
.paragraph-options div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    margin-left: 10px;
}

.fifth-container{
    /* height: 170px; */
    /* width: 100%; */
    background-color: var(--container-bg-color);
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    padding: 20px;
}
.tag-button{
    background-color: var(--tag-bg-color);
    /* height: fit-content; */
    /* width: fit-content; */
    padding: 5px 10px;
    margin: 10px;
    border-radius: 20px;
    font-size: small;
}

.img{
    width: 80%;
    height: 80%;
    margin: 25px auto;
    border-radius: 20px;
}
#toggle-btn,
#logout-btn {
    padding: 5px 10px;
    border-radius: 20px;
}

#logout-btn {
    display: none;
}

.header-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    /* background-image: url("/images/profile-image.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.user-profile-image, #post-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-image: url("/images/profile-image.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
