body{
    background-image:url("/IWT/src/images/bg.jpeg");
    background-size: cover;
    font-family: sans-serif;
}

.logo{
    mix-blend-mode:darken;

}
.logocent{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.menu{
    background-color: rgb(133, 141, 138);
}

.menu ul{
    mix-blend-mode:overlay;
    list-style-type:none;
    width:auto;
    align-items: center;
    border:1px solid #555;
    overflow: hidden;
    margin: 2px;
    padding: 1px;
    
    
}
.menu li{
    border-radius: 30%;
    float: left;
    text-align: center;
    border-bottom: 1px solid #555;
}
.menu li:last-child{
    border-bottom:none;
}
.menu li a{

    display: block;
    color: #000;
    padding: 8px;
    border-radius: 30%;
    background-color: bisque;
    text-decoration: none;
}
.nav li a:hover{
    background-color: azure;
    color: #000;
}
.line{
    border-top:1px dashed red;
}

