:root{
    /* --background-color:#171717; */
    --background-color: #ffffff !important;
    --header-height: 10vh;
    /* --header-black: #000; */
    --header-black: #ebebeb;
    /* --content-width: 70% !important; */
    --border-radius: 0.9rem;
    --shadow-for-box: 0 0 10px #000;
    /* --container-bg: rgba(0, 0, 0, 0.5); */
}

body{
    background-color: var(--background-color);
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    background-color: var(--header-black);
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    width: var(--content-width);
    height: var(--header-height);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-for-box);
}
.home-nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 30%;
    height: var(--header-height);
    mix-blend-mode: difference;
}
.login-profile-signup{
    width: 70%;
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.profile-login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}
.profile-login img{
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    border-radius: 50%;
    cursor: pointer;
    mix-blend-mode:difference;
}
.home-nav-right{
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.home-nav-right a{
    color: #fff;
    padding: 0.4em;
    border-radius: var(--border-radius);
}
.home-nav-right a:hover{
    color: #fff;
    transition: all 0.3s ease-in-out;
}
a{
    color: #fff;
    text-decoration: none;
    font-size: large;
}
.head-desc{
    background-color: var(--header-black);
    /* width: var(--content-width); */
    padding: 1rem;
    margin-top: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-for-box);
}
.head-desc h1{
    font-size: 2.5rem;
}
.head-desc p{
    font-size: 1.2rem;
    margin-top: 1rem;
}
.catogories-list{
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--header-black);
    width: var(--content-width);
    height: max-content;
    border-radius: var(--border-radius);
    display:flex;
    flex-wrap: wrap;
    box-shadow: var(--shadow-for-box);
}
.catagory, .catagory a{ 
    background-color: var(--background-color);
    margin: 0.4rem;
    padding: 0 0.5rem;
    border-radius: 1rem;
    opacity: 0.8;
    color: #484747;
}
.catagory:hover, .catagory:hover a{
    opacity: 1;
    background-color: #e1dfdf;
    color: #171717;
    transition: all 0.3s ease-in-out;
}
.end-note{
    background-color: var(--header-black);
    width: var(--content-width);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: var(--shadow-for-box);
}
.end-note p, .end-note h3{
    opacity: 0.9;
}
.clock-fixed{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--header-black);
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-for-box);
}
.clock{
    font-size: 1.5rem;
    opacity: 0.6;
    display: flex;
}

/* postPage css */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    flex: 4;
    padding: 10px;
}
.header-left img{
    width: 70px;
    border-radius: 50%;
}
.header-center{
    display: flex;
    justify-content: space-between;
    flex: 4;
}
.header-right{
    padding: 10px;
    flex: 4;
}
.header-right-up{
    display: flex;
    justify-content: right;
    align-items: center;
}
.header-right-down{
    display: flex;
    justify-content: right;
    font-size: small;
    margin-top: 10px;
}
.header-profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    background-image: url("/images/profile-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* body section */
.body-container{
    padding: 20px 100px;
}
.first-container{
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin-bottom: 20px;
}
.first-container-left{
    height: 100%;
    width: 68%;
    background-color: #3f3f3f;
    border-radius: 20px;
}
.first-container-right{
    height: 100%;
    width: 30%;
    background-color: #3f3f3f;
    border-radius: 20px;
}
.second-container{
    height: 170px;
    background-color: #3f3f3f;
    border-radius: 20px;
    margin-bottom: 20px;
}
.third-container{
    margin-bottom: 20px;
}
.third-container-img{
    height: 200px;
    width: 100%;
    background-color: #3f3f3f;
    border-radius: 20px;
    margin-bottom: 20px;
}
.third-container-video{
    height: 200px;
    width: 100%;
    background-color: #3f3f3f;
    border-radius: 20px;
}
.fourth-container{
    height: 300px;
    margin-bottom: 20px;
}
.paragraph-area{
    height: 80%;
    width: 100%;
    background-color: #3f3f3f;
    border-radius: 20px;
}
.paragraph-options{
    padding-top: 10px;
    display: flex;
    justify-content: right;
}
.paragraph-options div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    margin-left: 10px;
}
.fifth-container{
    height: 170px;
    background-color: #3f3f3f;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
}
.tag-button{
    background-color: #000;
    height: max-content;
    width: max-content;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 20px;
    font-size: small;
}