:root{
    /* --background-color:#171717; */
    --background-color: #031525;
    --header-height: 10vh;
    /* --header-black: #000; */
    --header-black: #162C46;
    --content-width: 70% !important;
    --border-radius: 0.9rem;
    --shadow-for-box: 0 0 10px #000;
}
.left-content-title{
    margin-left: 0;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}
.left-content-title h3, p{
    margin: 0;
    padding: 0;
    color: #fff;
}
hr{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #969595;
}
.content-desc{
    background-color: var(--header-black);
    width: var(--content-width);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-for-box);
    display: flex;
    justify-content: space-between;
}
.right-content-title{
    margin-right: 0;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}
.con-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.con-profile p{
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
}
.con-profile img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.username-c{
    display: contents;
    margin-right: 1rem;
    align-content: center;
    
}